# Package installation

In [1]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6
Note: you may need to restart the kernel to use updated packages.

In [2]:
# pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

# Package call

In [1]:
import psycopg2
import pandas as pd
import psycopg2.extras

# Extract
*Read from excel file*

In [9]:
DATA_DIR = "E:/MSc/SUMMER_2023/CSE512-Database/ASSIGNMENTS/"

In [10]:
fact_table = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=0, engine='openpyxl')

In [11]:
trans_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=1, engine='openpyxl')
item_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=2, engine='openpyxl')
coustomer_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=3, engine='openpyxl')
time_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=4, engine='openpyxl')
store_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=5, engine='openpyxl')

In [12]:
trans_dim

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

In [13]:
item_dim

,item_key,item_name,desc,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
...,...,...,...,...,...,...,...
259,I00260,Napkins Square Lunch,Kitchen Supplies,15.00,Cambodia,NINGBO SEDUNO IMP & EXP CO.LTD,ct
260,I00261,POM 2 ply paper towels,Kitchen Supplies,33.00,Lithuania,BIGSO AB,ct
261,I00262,Strong Everyday Napkins,Kitchen Supplies,14.00,Netherlands,Bolsius Boxmeer,ct
262,I00263,Advil 2 pill packets,Medicine,14.00,Lithuania,BIGSO AB,Ct
263,I00264,Tylenol Extra Strength 2 pill packets,Medicine,15.00,India,Indo Count Industries Ltd,Ct

In [14]:
item_dim.dtypes

item_key        object
item_name       object
desc            object
unit_price     float64
man_country     object
supplier        object
unit            object
dtype: object

In [15]:
# Coustomer_dim

NameError: name 'Coustomer_dim' is not defined

In [ ]:
time_dim

In [ ]:
store_dim

## Transform

In [ ]:
item_dim['unit_price'] = pd.to_numeric(item_dim['unit_price'])
item_dim.dtypes

In [ ]:
time_dim['date'] = time_dim['date'].astype('datetime64[ns]')
# time_dim.dtypes
time_dim

In [ ]:
fact_table

In [ ]:
fact_table['unit_price'] = pd.to_numeric(fact_table['unit_price'])
fact_table['total_price'] = pd.to_numeric(fact_table['total_price'])
fact_table

# Load
*Connect to the database*

In [ ]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="postgres",
                                           user = "postgres",
                                           password = "nusrat0405",
                                           host = "localhost",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [ ]:
con = PostgresConnection().getConnection()

### TRANS_DIM

In [ ]:
insert_stmt = "INSERT INTO ecomdb.trans_dim( payment_key, trans_type, bank_name)" \
            " VALUES (%s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, trans_dim.values)
con.commit()
cur.close()

### ITEM_DIM

In [ ]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO ecomdb.item_dim(item_key, item_name, description, unit_price, man_country, supplier, unit)"\
              " VALUES(%s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, item_dim.values)
con.commit()
cur.close()

### COUSTOMER_DIM

In [ ]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO ecomdb.coustomer_dim(coustomer_key, name, contact_no, nid)"\
                "VALUES (%s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, coustomer_dim.values)
con.commit()
cur.close()

### TIME_DIM

In [ ]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO ecomdb.time_dim(time_key, date_t, hour, day, week, month, quarter, year)VALUES (%s, %s, %s, %s, %s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, time_dim.values)
con.commit()
cur.close()

### STORE_DIM

In [ ]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO ecomdb.store_dim( store_key, division, district, upazila)" \
               " VALUES (%s, %s, %s, %s);"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, store_dim.values)
con.commit()
cur.close()

### FACT_TABLE

In [ ]:
insert_stmt = "INSERT INTO ecomdb.fact_table( payment_key, coustomer_key, time_key, item_key, store_key, quantity, unit, unit_price, total_price)" \
            " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, fact_table.values)
con.commit()
cur.close()

In [ ]:
# - ****************************** SqlDBM: PostgreSQL *****************************
# -- * Generated by SqlDBM: Untitled Project, v13 by nusrat.islam10@northsouth.edu *



# -- ************************************** ecomdb.Fact_table

# CREATE TABLE ecomdb.Fact_table
# (
#  payment_key     varchar(20) NOT NULL,
#  coustomer_key   varchar(20) NOT NULL,
#  time_key        varchar(20) NOT NULL,
#  item_key        varchar(20) NOT NULL,
#  store_key       varchar(20) NOT NULL,
#  quantity        integer NOT NULL,
#  unit            varchar(30) NOT NULL,
#  unit_price      double precision NOT NULL,
#  total_price     double precision NOT NULL,
# --  payment_key_1   varchar(20) NOT NULL,
# --  item_key_1      varchar(20) NOT NULL,
# --  coustomer_key_1 varchar(20) NOT NULL,
# --  time_key_1      varchar(20) NOT NULL,
# --  store_key_1     varchar(20) NOT NULL,
#  CONSTRAINT PK_1_Fact_table PRIMARY KEY ( payment_key, coustomer_key, time_key, item_key, store_key ),
#  CONSTRAINT FK_1 FOREIGN KEY ( payment_key ) REFERENCES ecomdb.trans_dim ( payment_key ),
#  CONSTRAINT FK_2 FOREIGN KEY ( item_key ) REFERENCES ecomdb.item_dim ( item_key ),
#  CONSTRAINT FK_3 FOREIGN KEY ( coustomer_key ) REFERENCES ecomdb.coustomer_dim ( coustomer_key ),
#  CONSTRAINT FK_4 FOREIGN KEY ( time_key) REFERENCES ecomdb.time_dim ( time_key ),
#  CONSTRAINT FK_5 FOREIGN KEY ( store_key) REFERENCES ecomdb.store_dim ( store_key )
# );

# CREATE INDEX FK_1 ON ecomdb.Fact_table
# (
#  payment_key
# );

# CREATE INDEX FK_2 ON ecomdb.Fact_table
# (
#  item_key
# );

# CREATE INDEX FK_3 ON ecomdb.Fact_table
# (
#  coustomer_key
# );

# CREATE INDEX FK_4 ON ecomdb.Fact_table
# (
#  time_key
# );

# CREATE INDEX FK_5 ON ecomdb.Fact_table
# (
#  store_key
# );